@media (max-width:992px){
    .hero-area{
        margin-left:15px;
        margin-right: 15px;
    }
    .hero-text {
        padding-left:20px; 
        padding-right: 20px;
    }
    .hero-text h1,
    .hero-text .top{
        text-align: center;
    }
    .hero-text .top{
        padding: 50px 25px;   
    }
   
    /* About our company */
    .about-our-company h2,
    .about-our-company  h3,
    .about-our-company p,
    .about-our-company .btn{
        margin-left: 15px;
    }
    .about-our-company h2{
        font-size: 35px;   
    }
    
    .about-our-company img {
        margin-top: 40px;
    }
    /*==============================================
    why choose us
    ===============================================*/
    .why-choose-us .choose-para{
        margin: 15px 30px;
    }
    /* about-area */
    .about-area .social i{
        font-size: 15px;
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
    .about-heading{
        font-size: 25px;
    }
    .review-grid {
        display: grid;
        grid-template-columns: auto auto;
    }
}
/* ==========================
Tablet Device 
============================*/
@media (max-width:768px){
    .header-left{
        display: none;
     }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    
    .header-right{
        width: 100%;  
    }
    .social-icon{
        text-align: center;
    }
    .logo-area{
        width: 30%;
    }
    /* Menu-area */
    .menu-area {
        display: none;
    }
    .mobile-menu {
        display: block;
        margin-left: auto;
    }
    .mobile-menu span{
        line-height: 50px;
       
        
    }
    

    /* banner-area */
    .hero-text .top {
        font-size: 25px;
    }
    .hero-text .bottom{
        font-size: 16px;
    }
    /* why-choose-us */
    .why-choose-us .col-25{
        flex:0 0 50%;
    }
    .why-choose-us .choose-para{
        margin: 15px 15px;
    }
    /* Customer review */
    
    .review-comment{
        padding: 50px 15px; 
    }
    .review-comment p{
        text-align:center;
    }
    .review-comment i{
        font-size: 20px;
    }
    
    /* Question-area */
    .question-area h2, 
    .question-area .contact{
        padding-left: 15px;
    }
    .question-area .contact{
        font-size: 25px;
    }

    /* About  company */
    .about-area .col-25 {
        flex: 0 0 50%;
        padding: 0 30px;
    }
    .contact{
        font-size: 20px;
    }
    .welcome{
        padding-top: 15px;
    }
    .welcome span{
        font-size: 25px;
    }
}
       

/* ==========================
Mobile Device 576px
============================*/

@media (max-width:576px){
    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .header-right{
        width: 100%;
    }
    .social-icon {
        text-align:center;
    }
    
    /* Hero area */
    h1{
        font-size: 30px;
    }
    .hero-btn .btn {
        margin-bottom: 50px;
    }
    .hero-text {
        padding:0 15px;
        
    }
    /* About companny */
    .about-our-company .col-55{
        flex:0 0 100%;
    }
    .about-our-company .col-45{
        flex:0 0 100%;
    }
    .about-heading{
        font-size: 20px;
       
    }
    

    /* choose us */
    
    .why-choose-us .col-25{
        flex:0 0 100%;
        margin-bottom: 25px;
    }
    /* our service */
    .service-area .col-33 {
        flex:0 0 100%;
    }
    /* Customer review */
    .review-text .heading{
        padding: 15px 15px;
    }
    .grid-container{
        grid-template-columns: auto;
    }
    .review-grid {
        grid-template-columns: auto;
        
    }

    /* question-area */
    .question-area .col-50{
        flex: 0 0 100%;
    }
    h2{
        font-size: 20px;
    }
    .question-area .contact{
        padding-bottom: 20px;
    }
    
    /* about area */
    .about-area .col-25{
        flex:0 0 100%;
    }
    .address{
        flex-direction: column;
    }
   
}


    /*========================
    For Screen 332px
    =========================== */

@media (max-width:332px){
    .logo-area{
        width: 50%;
    }
    h1{
        font-size: 20px;
        padding: 0px 0px;
    }
    .hero-text .top{
        padding: 15px 10px;
        font-size: 16px;   
    }
    .hero-btn .btn {
        margin: 20px 0px;
    }
    .hero-btn .btn a{
        font-size: 16px;
    }
    .filter-btn button {
        padding: 10px 20px;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .why-choose-us {
        padding-bottom: 30px;
    }
    .why-choose-us p{
        padding:15px;
    }
    .our-service {
        padding-top: 30px;
    }
    .review-text h2 {
        padding-top:30px
    }
    .review h5 {
        margin-bottom:0px;
    }
}